<% provide :title, 'Capstone 2014 | Contact' %>

<div class="content">
  <div class="banner">
    <h1>CONTACT ME</h1>
  </div>

  <div class="divider"></div>

  <div class="form-fields">
    <%= simple_form_for :mail_message do |f| %>
      <%= f.input :name, input_html: { class: 'contact-input line name' }, label: false, placeholder: 'Full Name' %>
      <%= f.input :email, input_html: { class: 'contact-input line email' }, label: false, placeholder: 'Email Address' %>
      <%= f.input :message, as: :text, input_html: { class: 'contact-input area' }, label: false, placeholder: 'Type your message here..' %>
      <%= f.submit 'Send', class: 'btn btn-primary submit' %>
    <% end %>
      <button class="btn btn-default clear">Clear</button>
  </div>

  <div class="clearfix"></div>

  <div class="divider"></div>

  <em id='contact-text'>If you do not wish to use the form, feel free to contact me at dave.ferris@snc.edu</em>
</div>