<% provide :title, 'Capstone 2014 | Home' %>

<div class="content">
  <div class="banner">
    <h1>VISUALIZING TEXT</h1>
  </div>

  <div class="divider"></div>

  <div class="gallery">
    <div class="gallery-main">
      <div id="large1" class="gallery-large">
        <%= image_tag 'placeholder1.jpg', alt: 'main image' %>
      </div>

      <div id="large2" class="gallery-large">
        <%= image_tag 'placeholder2.jpg', alt: 'main image' %>
      </div>

      <div id="large3" class="gallery-large">
        <%= image_tag 'placeholder3.jpg', alt: 'main image' %>
      </div>

      <div id="large4" class="gallery-large">
        <%= image_tag 'placeholder4.jpg', alt: 'main image' %>
      </div>
    </div>

    <ul class="gallery-slides">

      <li id="image1" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder1-small.jpg', alt: 'first image' %>
      </li>

      <li id="image2" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder2-small.jpg', alt: 'second image' %>
      </li>

      <li id="image3" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder3-small.jpg', alt: 'third image' %>
      </li>

      <li id="image4" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder4-small.jpg', alt: 'fourth image' %>
      </li>

    </ul>


  </div>

  <div class="clearfix"></div>

  <div class="divider"></div>

  <div class="features">
    <div class="half-content left">
      <h3>About the Project</h3>
      <p>&nbsp &nbsp Online surveys often have open-ended questions or comment sections with text fields. When hundreds or
          thousands of people take the survey, how are those administering the survey supposed to gauge the results without
          reading each survey, one-by-one?</p>
      <p>&nbsp &nbsp The goal of my project is to analyze a large sample of text and identify key words/phrases and the frequencies
          with which they occur. This way, I will be able to provide a visual representation of the words/phrases that are used most
          frequently, which will make it quick and easy to gain a general overview of the text. In the case of a survey, this would
          be useful to represent the opinions of the surveyed population</p>
      <p>&nbsp &nbsp I am planning to first write an application in C++ that will accept a text file (or many) as input, filter the text, and
          create a data structure (most likely a heap) containing words and their frequencies. I have chosen C++ for two reasons:
        <p>
          1.) I have more experience with C++ than I do with any other language.
        </p>

        <p>
          2.) I believe that C++ is a good language for analyzing text and for managing data structures.
        </p>

        <p>
          &nbsp &nbsp I am then planning to use a language such as Javascript to create a visual representation of the data. This will be determined
          after I have completed the data management portion of the project.
        </p>
      </p>

    </div>

    <div class="half-content right">
      <h3>Philosophy</h3>
      <p>&nbsp &nbsp My first exposure to computer science came when I was about 8 or 9 years old, watching my brother write
          text-based games in Q-Basic. At the time, I found programming to be boring; too much hunting and pecking for
          too small of a result. I didn't delve into programming again until my first semester at SNC.</p>
      <p>&nbsp &nbsp I began my time at SNC as a physics major, which didn't last very long. CS110 was a requirement for the physics
          program, and after 7 weeks of C++, I was a computer science major. I was drawn to the field of computer science by
          the addictiveness of coding. The freedom that comes with coding - being able to accomplish goals via a large variety
          of ways - gives the feeling that you can make almost anything you want to. Some weekends I would think of an idea for
          a program and then spend hours working on it, just on a whim. The addictiveness of coding has motivated me to
          pursue a career in software development.</p>
      <p>&nbsp &nbsp Another aspect of computer science that draws me in is the rapidly-advancing nature of the field. It seems like every-other
          day there has been an advancement in technology or a software innovation that allows for a range of further innovation. You
          never know what is going to be possible in the next 10 years, 5 years, or even the next year. I can't think of many other
          professions where this is the case.</p>
    </div>

    <div class="clearfix"></div>
  </div>

</div>

