<% provide :title, 'Capstone 2014 | Home' %>

<div class="content">
  <div class="banner">
    <h1>VISUALIZING TEXT</h1>
  </div>

  <div class="divider"></div>

  <div class="gallery">
    <div class="gallery-main">
      <div id="large1" class="gallery-large">
        <%= image_tag 'placeholder1.jpg', alt: 'main image' %>
      </div>

      <div id="large2" class="gallery-large">
        <%= image_tag 'placeholder2.jpg', alt: 'main image' %>
      </div>

      <div id="large3" class="gallery-large">
        <%= image_tag 'placeholder3.jpg', alt: 'main image' %>
      </div>

      <div id="large4" class="gallery-large">
        <%= image_tag 'placeholder4.jpg', alt: 'main image' %>
      </div>
    </div>

    <ul class="gallery-slides">

      <li id="image1" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder1-small.jpg', alt: 'first image' %>
      </li>

      <li id="image2" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder2-small.jpg', alt: 'second image' %>
      </li>

      <li id="image3" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder3-small.jpg', alt: 'third image' %>
      </li>

      <li id="image4" class="gallery-small inactive">
        <div class="overlay"></div>
        <%= image_tag 'placeholder4-small.jpg', alt: 'fourth image' %>
      </li>

    </ul>


  </div>

  <div class="clearfix"></div>

  <div class="divider"></div>

  <div class="features">
    <div class="half-content left">
      <h3>About the Project</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="half-content right">
      <h3>Philosophy</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>

    <div class="clearfix"></div>
  </div>

</div>

